<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>History</title>
    <script>
        function getFavorites() {
            if (localStorage.favorites) {
                var fav = JSON.parse(localStorage.favorites);
                if (fav.length > 0) {
                    for (var i=fav.length-1; i >= 0 ; i=i-3) {
                    document.write("<div class='col-3'><p><img class='img-fluid' src=" + fav[i]+ "></p></div>");
                    document.write("<div class='col-9'><h3><a href='image/" + fav[i-2] + "' style='color:#66b3ff'>" + fav[i-1] + "</a></h3></div>");
                    }
                } else {
                    document.write("<h2 class='text-center' style='color:#ffffff'>No favorites (you have not favorites any images).</h2>");
                }
            } else {
                document.write("<h2 class='text-center' style='color:#ffffff'>No favorites (you have not favorites any images).</h2>");
            }
        }
    </script>
  </head>
  <body style="background-color:#000000;">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
            <a class="navbar-brand" href="#">NASA Image Archive</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-item nav-link" href="/search">Search</a>
                <a class="nav-item nav-link active" href="/favorites">Favorites<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/history">History</a>
                </div>
            </div>
    </nav>
    <div class = "container">
        <div class="row">
            <div class='col-12'>
                <h1 style='color:#ffffff'>Favorites</h1>
            </div>
            <script>
                getFavorites();
            </script>
        </div>
    </div>

    </body>
</html>